
<!-- header -->
<div class="nav-bar">
  <div class="logo">
    <img src="../assets/images/logo.png" alt="" />
  </div>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="seller">Seller</a></li>
      <li><a routerLink="login">Login</a></li>
      <li><a href="#">Cart(0)</a></li>
    </ul>
  </nav>
  <div onclick="handleClick()" class="action-btn mobile-only">
    <img class="open" src="../assets/icons/bars.svg" alt="" />
    <img class="close" src="../assets/icons/close.svg" alt="" />
  </div>
</div>



<!-- <nav>
<h1>DOCOMO</h1>
<div class="nav-search">
<input type="text" placeholder="Search"/>
<button type="button">Search</button>
</div>
<ul>

</ul>
</nav> -->
