<div class="Customer-SignUp">
  <div *ngIf="showLogin" class="sign-up">
    <h1>Customer SignUp</h1>
    <form
      #customerRegister="ngForm"
      (ngSubmit)="Register(customerRegister.value)"
      class="common-form"
    >
      <input
        class="form-input"
        ngModel
        name="name"
        type="text"
        placeholder="Name"
      />
      <input
        class="form-input"
        ngModel
        name="mobile"
        type="number"
        placeholder="Mobile No"
      />
      <div class="form-input-radio">
        <input ngModel type="radio" name="gender" value="male"> Male
        <input ngModel type="radio" name="gender" value="female"> Female
      </div>

      <input
        class="form-input"
        ngModel
        name="dob"
        type="date"
        placeholder="Date of Birth"
      />

      <input
        class="form-input"
        ngModel
        name="email"
        type="email"
        placeholder=" Email"
      />
      <input
        class="form-input"
        ngModel
        name="password"
        type="password"
        placeholder="Password"
      />
      <button class="form-button">Sign Up</button>
      <span>Aleardy I have account<a (click)="openSignIn()" class="toggle-btn">SignIn</a> </span>
    </form>
  </div>

  <!-- Login Aera -->
  <div *ngIf="!showLogin" class="Customer-SignIn">
    <h1>Customer SignIn</h1>
    <!-- <p class="error">{{authError}}</p> -->
    <form
      #customerLogin="ngForm"
      (ngSubmit)="login(customerLogin.value)"
      class="common-form"
    >
      <input
        class="form-input"
        ngModel
        name="email"
        type="email"
        placeholder=" Email"
      />
      <input
        class="form-input"
        ngModel
        name="password"
        type="password"
        placeholder="Password"
      />
      <button class="form-button">Sign In</button>
      <span>Aleardy I Do't have account<a (click)="openSignUp()" class="toggle-btn">SignUp</a> </span>
    </form>
  </div>
</div>
