.sign-up,
.login {
  text-align: center;
}

.sign-up h1,
.login h1 {
  margin-bottom: 35px;
  margin-top: 22px;
  color: blueviolet;
}
a.toggle-btn {
  padding-left: 5px;
  color: blue;
  text-decoration: none;
}
span {
  padding-top: 12px;
  margin: 0;
  font-size: 14px;
}
