/* You can add global styles to this file, and also import other style files */
.container {
  margin-left: 5%;
  margin-right: 5%;
}

body {
  font-family: sans-serif;
}

.common-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
}

input.form-input {
  height: 30px;
  padding: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
  border: 1px solid blueviolet;
  border-radius: 20px;
  font-size: 18px;
}
button.form-button {
  height: 40px;
  border: 1px solid blueviolet;
  cursor: pointer;
  background-color: black;
    color: antiquewhite;
    border-radius: 20px;
}
